    {% load staticfiles %}
    <head>
    <link rel="stylesheet" href="{% static 'tutor/fonts/icomoon/style.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'tutor/css/style.css' %}">

  </head>

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="footer-heading mb-4"><strong><strong>About Us</strong></strong></h2>
              <p><strong>At Productivv Academy, we strive to provide education, support and training on industry driven skills at the best price possible.
              </strong></p>
              <ul class="list-unstyled social">
                <li><a href="https://m.facebook.com/productivvacademy/"><span class="icon-facebook"></span></a></li>
                <li><a href="https://www.instagram.com/productivvacademy/"><span class="icon-instagram"></span></a></li>
<!--                 <li><a href="#"><span class="icon-twitter"></span></a></li> -->
                <li><a href="https://www.linkedin.com/in/richard-rozario-5a9ba6198/"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>
            <div class="col-lg-8 ml-auto">
              <div class="row">
                <div class="col-lg-4">
                  <h2 class="footer-heading mb-4"><strong><strong>Quick Links</strong></strong></h2>
                  <ul class="list-unstyled">
                    <li><a href="https://www.instagram.com/productivvacademy/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/c/Productivvacademy">Youtube</a></li>
                    <li><a href="https://productivv-academy.business.site/">Google Profile</a></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <h2 class="footer-heading mb-4"><strong><strong>Resources</strong></strong></h2>
                  <ul class="list-unstyled">
                    <li><a href="/course/list">Courses</a></li>
                    <li><a href="https://github.com/rozario-lamperouge">Github</a></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <h2 class="footer-heading mb-4"><strong><strong>Support</strong></strong></h2>
                  <ul class="list-unstyled">
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Terms of Service</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2 text-center">
            <div class="col-md-12">
              <div class="border-top">
                <p><strong>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </strong>
              </p>
              </div>
            </div>

          </div>
        </div>
      </footer>

    </div>